/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #f7f7f7;
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 2rem 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.App-header:hover {
  transform: translateY(-5px);
}

.User-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.User-item {
  background-color: white;
  border-radius: 5px;
  padding: 2.5rem 2rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.User-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.User-item h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #282c34;
}

.User-item h5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #999;
  display: flex;
  align-items: center;
}

.User-item h5 svg {
  margin-right: 0.5rem;
}

.User-item h6 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #282c34;
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0 0 0 5px;
}

.User-item:hover h6 {
  background-color: #2d2f32;
}

.User-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(227, 225, 225, 0.6)
  );
  z-index: 1;
}

/* Add smooth transition for hover effects */
a,
button {
  transition: all 0.3s ease;
}

/* Button styling */
button {
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #313438;
}
